body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(150, 192, 192, 0.3);
  
}
.container {
  /* width: 1400px; */
  margin: auto;
  display: flex;
  
}
header {
  /* min-height: 1400px; */
  width: 25%;
}

.countryInput {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.search {
  width: 70%;
  height: 50px;
  outline: none;
  /* background-color: rgb(220, 255, 255); */
  background-color: rgb(150, 192, 192);
  border: 10px solid rgb(67, 75, 75);
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  
}
.search:focus {
  background-color: rgba(182, 231, 231, 0.842);
  
}
.searchMatches {
  width: 73%;
  display: none;
  list-style: none;
  border: 1px dotted rgba(67, 75, 75, 0.3);
  padding: 0;
  margin-top: -4px;
  font-size: 18px;
}
.country {
  padding: 20px 0px;
  text-align: center;
}
.country:hover {
  background-color: rgba(46, 46, 46, 0.184);
  color: #fff;
}
main {
  width: 75%;
  height: 100%;
  background-color: azure;
}
main h1 {
  text-align: center;
}
.cityList {
  width: 80%;
  margin: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.cityList li {
  width: 900px;
  height: 80px;
  font-size: 18px;
  margin: 5px 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: rgb(150, 192, 192);
  transition: ease-in-out 0.5s;
}
.cityList li.accor {
  height: 150px;
  padding: 10px 0 0 0;
}
.cityMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0 0 0;

}
.cityDesc {
  display: none;
  background-color: rgb(150, 192, 192);
  margin-top: 20px;
  font-size: 14px;
}
.show {
  display: block;
  height: 150px;
  text-align: center;
  padding: 0 20px;
}